@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Noto Sans JP', sans-serif;}


.container{
    max-width: 1300px;
    margin: 0 auto;
}

ul{
    list-style: none !important;
}

h1,h2,h3,h4,h5{
    margin: 0 !important;
}


a{
    text-decoration: none;
}



.btn{
    border: none;
    max-height: 40px;
    padding: 10px 15px;
    cursor: pointer;
}



// HEADER
#header{
    nav{
        .container{
            text-align: center;
            margin-top: 20px;
            display: flex;
            align-items: center;
            .navbar-logo{
                img{
                    width: 50px;
                    height: 50px;
                }
                display: flex;
                color: #000;
                h1{
                    margin-left: 20px !important;
                }
            }
            .navbar-logo:hover{
                text-decoration: none;
            }
            ul{
                margin: 0 auto;
                width: 80%;
                display: flex;
                justify-content: space-between;
                .li{    
                    width: 50%;
                    display: flex;
                    padding-right: 40px;
                    align-items: center;
                    justify-content: space-between;
                    margin-left: 10%;
                    li{
                            a{
                                position: relative;
                                color: #000;
                                transition: .1s;
                                display: block;
                                padding: 10px 0px;
                                transition: .5s;
                            }
                            a::before {
                                content: '';
                                bottom: 0;
                                left: 0;
                                position: absolute;
                                width: 100%;
                                height: 2px;
                                background-color: #000;
                                transition: 0.2s;
                                transform: scaleX(0);
                              }
                              a:hover:before {
                                transform: scaleX(1);
                              }
                          
                    }
                }
                .btn-nav{
                    width: 30%;
                    height: 50px !important;
                    background-color: #fff;
                    border: 3px solid black;
                    color: black;
                    transition: .3s;
                    cursor: pointer;
                    p{
                            text-transform: uppercase;
                            font-size: 15px;
                            font-weight: 900 !important;
                            margin-top: -4px;
                    }
                }
                .btn-nav:hover{
                    color: #fff;
                    background-color: #000;
                }
            }  
        }
    }
    .header{
        margin-top: 7%;
        .container{
            display: flex;
            align-items: center;  
            .header-text{
                h1{
                    font-size: 60px;
                }
                h1:first-child{
                    color: #04419A;
                }
                h1:nth-child(2){
                    margin-top: 10px !important; 
                    color: #ffba00;
                }
            }   
              .wrap {
                width: 300px;
                height: 300px;
                position: relative;
                perspective: 1000px;
              }
              .front, .back {
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: 1s;
                backface-visibility: hidden;
                border-radius: 10px;
                animation-name: img-header__one;
                animation-duration: 3s;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
                transition: 5s;
              }
              .back {
                transform: rotateY(180deg);
                animation-name: img-header__one;
                animation-duration: 3s;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
              }
              .btn-header{
                width: 30%;
                height: 50px !important;
                background-color: #fff;
                border: 3px solid black;
                color: black;
                transition: .3s;
                cursor: pointer;
                p{
                        text-transform: uppercase;
                        font-size: 15px;
                        font-weight: 900 !important;
                        margin-top: -4px;
                }
            }
            .btn-header:hover{
                color: #fff;
                background-color: #000;
            }
              @keyframes img-header__one{
                0% {
                    transform: rotateY(0deg);
                }
                25%{
                    transform: rotateY(80deg);
                }
                50%{
                    transform: rotateY(180deg);
                }
                75%{
                    transform: rotateY(280deg);
                }
                100%{
                    transform: rotateY(360deg);
                }
            }
        }
        
    }
}


@media (max-width: 768px) {
    .btn-nav{
        width: 200px !important;
        height: 50px !important;
        background-color: #fff;
        border: 3px solid black;
        color: black;
        transition: .3s;
        margin-top: 10px;
        cursor: pointer;
        p{
            text-transform: uppercase;
            font-size: 15px;
            font-weight: 900 !important;
            margin-top: -4px;
        }
    }
    .lang{
        margin-top: 10px;
        margin-left: 0;
    }
    .navbar-toggler{
        border: none;
    }
    .btn-header{
        display: none;
    }
    .header-h5{
        display: none;
    }
    .header-text{
        text-align: center;
    }
    .header-h1{
        font-size: 40px !important;
    }
}