@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

ul {
  list-style: none !important;
}

h1, h2, h3, h4, h5 {
  margin: 0 !important;
}

a {
  text-decoration: none;
}

.btn {
  border: none;
  max-height: 40px;
  padding: 10px 15px;
  cursor: pointer;
}

#header nav .container {
  text-align: center;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header nav .container .navbar-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000;
}

#header nav .container .navbar-logo img {
  width: 50px;
  height: 50px;
}

#header nav .container .navbar-logo h1 {
  margin-left: 20px !important;
}

#header nav .container .navbar-logo:hover {
  text-decoration: none;
}

#header nav .container ul {
  margin: 0 auto;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#header nav .container ul .li {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 10%;
}

#header nav .container ul .li li a {
  position: relative;
  color: #000;
  -webkit-transition: .1s;
  transition: .1s;
  display: block;
  padding: 10px 0px;
  -webkit-transition: .5s;
  transition: .5s;
}

#header nav .container ul .li li a::before {
  content: '';
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #000;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

#header nav .container ul .li li a:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

#header nav .container ul .btn-nav {
  width: 30%;
  height: 50px !important;
  background-color: #fff;
  border: 3px solid black;
  color: black;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

#header nav .container ul .btn-nav p {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 900 !important;
  margin-top: -4px;
}

#header nav .container ul .btn-nav:hover {
  color: #fff;
  background-color: #000;
}

#header .header {
  margin-top: 7%;
}

#header .header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .header .container .header-text h1 {
  font-size: 60px;
}

#header .header .container .header-text h1:first-child {
  color: #04419A;
}

#header .header .container .header-text h1:nth-child(2) {
  margin-top: 10px !important;
  color: #ffba00;
}

#header .header .container .wrap {
  width: 300px;
  height: 300px;
  position: relative;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

#header .header .container .front, #header .header .container .back {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 10px;
  -webkit-animation-name: img-header__one;
          animation-name: img-header__one;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-transition: 5s;
  transition: 5s;
}

#header .header .container .back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-animation-name: img-header__one;
          animation-name: img-header__one;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

#header .header .container .btn-header {
  width: 30%;
  height: 50px !important;
  background-color: #fff;
  border: 3px solid black;
  color: black;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

#header .header .container .btn-header p {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 900 !important;
  margin-top: -4px;
}

#header .header .container .btn-header:hover {
  color: #fff;
  background-color: #000;
}

@-webkit-keyframes img-header__one {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  25% {
    -webkit-transform: rotateY(80deg);
            transform: rotateY(80deg);
  }
  50% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  75% {
    -webkit-transform: rotateY(280deg);
            transform: rotateY(280deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@keyframes img-header__one {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  25% {
    -webkit-transform: rotateY(80deg);
            transform: rotateY(80deg);
  }
  50% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  75% {
    -webkit-transform: rotateY(280deg);
            transform: rotateY(280deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@media (max-width: 768px) {
  .btn-nav {
    width: 200px !important;
    height: 50px !important;
    background-color: #fff;
    border: 3px solid black;
    color: black;
    -webkit-transition: .3s;
    transition: .3s;
    margin-top: 10px;
    cursor: pointer;
  }
  .btn-nav p {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 900 !important;
    margin-top: -4px;
  }
  .lang {
    margin-top: 10px;
    margin-left: 0;
  }
  .navbar-toggler {
    border: none;
  }
  .btn-header {
    display: none;
  }
  .header-h5 {
    display: none;
  }
  .header-text {
    text-align: center;
  }
  .header-h1 {
    font-size: 40px !important;
  }
}
/*# sourceMappingURL=style.css.map */