@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Ubuntu', sans-serif;
}


.container{
    width: 1300px;
    margin: 0 auto;
}

ul{
    list-style: none !important;
}

h1,h2,h3,h4,h5{
    margin: 0 !important;
}


a{
    text-decoration: none;
}



.btn{
    border: none;
    max-height: 40px;
    padding: 10px 15px;
    cursor: pointer;
}

// HEADER
#header{
    nav{
            .container{
                text-align: center;
                margin-top: 20px;
                display: flex;
                align-items: center;
                .navbar-logo{
                    display: flex;
                }
                ul{
                    margin: 0 auto;
                    width: 80%;
                    display: flex;
                    .li{    
                        display: flex;
                        padding-right: 40px;
                        li{
                            padding: 0px 15px;
                            a{
                                position: relative;
                                color: #000;
                                transition: .1s;
                                display: block;
                                padding: 10px 0px;
                                transition: .5s;
                            }
                            a::before {
                                content: '';
                                bottom: 0;
                                left: 0;
                                position: absolute;
                                width: 100%;
                                height: 2px;
                                background-color: #000;
                                transition: 0.2s;
                                transform: scaleX(0);
                              }
                              a:hover:before {
                                transform: scaleX(1);
                              }
                          
                        }
                    }
                    .btn-nav{
                        width: 30%;
                        height: 20%;
                        background-color: #fff;
                        border: 3px solid black;
                        color: black;
                        transition: .3s;
                        font-size: 15px;
                        text-transform: uppercase;
                        padding: 10px 15px;
                        cursor: pointer;
                        p{
                            font-weight: 900 !important;
                        }
                    }
                    .btn-nav:hover{
                        color: #fff;
                        background-color: #000;
                    }
                    .lang{
                        display: flex;
                        flex-direction: row; 
                        color: #000 !important;
                        cursor: pointer;
                        margin-left: 5%;
                        .lang_opt{
                            max-height: 40px !important;
                            padding: 10px 20px;
                            transition: .3s;
                            background-color: rgb(231, 227, 227);
                        }
                        .active{
                            z-index: 1000;
                            width: 80px !important;
                            background-color: rgb(216, 212, 212);
                        }
                }
                }
                
        }   
        
    }
}

@media(max-width: 1000px){
    .container{
        width: 800px;
        margin: 0 auto;
    }
    .menu-burger__header {
        position: relative; /* задаем относительное позиционирование */
        width: 40px; /* определяем размеры блока */
        height: 35px;
        margin-left: 63%;
    }
    .menu-burger__header span, .menu-burger__header:after, .menu-burger__header:before{
        height: 3px;
        width: 50px;
        position: absolute;
        background: #000;
        margin: 0 auto;
        transition: .3s;
    }
    .menu-burger__header span{
        top: 16px;
    }
    .menu-burger__header:after, .menu-burger__header:before{
        content: '';
    }
    .menu-burger__header:after{
        bottom: 5px;
    }
    .menu-burger__header:before{
        top: 5px;
    }
    .menu-burger__header.open-menu span {
        opacity:0; 
        transition: 0.5s; 
    }
    .menu-burger__header.open-menu:before {
        transform: rotate(38deg);
        top: 16px;
        transition: 0.4s;
    }
    .menu-burger__header.open-menu:after {
        transform: rotate(-38deg);
        bottom: 16px;
        transition: 0.4s;
    }
    .navbar{
        .container{
            position: relative;
            margin-top: 20px;
            align-items: center;
            display: block !important;
            .navbar-brand{
                display: flex;
            }
            .navbar-ul{
                position: absolute;
                right: -100%;
                transition: .3s;
                display: block !important;
                .li{
                    text-align: right;
                    display: block !important;
                    li{
                        a{
                            position: relative;
                            color: #000;
                            transition: .1s;
                            display: block;
                            padding: 10px 0px;
                            transition: .5s;
                        }
                        a::before {
                            content: '';
                            bottom: 0;
                            left: 0;
                            position: absolute;
                            width: 100%;
                            height: 2px;
                            background-color: #000;
                            transition: 0.2s;
                            transform: scaleX(0);
                          }
                          a:hover:before {
                            transform: scaleX(1);
                          }
                      
                    }
                }
                .btn-nav{
                    height: 20%;
                    background-color: #fff;
                    border: 3px solid black;
                    color: black;
                    transition: .3s;
                    font-size: 15px;
                    text-transform: uppercase;
                    padding: 10px 15px;
                    margin-left: 54%;
                    p{
                        font-weight: 900 !important;
                    }
                }
                .btn-nav:hover{
                    color: #fff;
                    background-color: #000;
                }
                .lang{
                    display: flex;
                    flex-direction: row; 
                    color: #000 !important;
                    cursor: pointer;
                    margin-left: 70% !important;
                    margin-top: 20px;
                    .lang_opt{
                        max-height: 40px !important;
                        padding: 10px 20px;
                        transition: .3s;
                        background-color: rgb(231, 227, 227);
                    }
                    .active{
                        z-index: 1000;
                        width: 80px !important;
                        background-color: rgb(216, 212, 212);
                    }
            }
            }
            .navbar-ul.open-menu{
                right: 0;
            }
    }   
    
    }
    .navbar.open-menu{
        right: 0;
    }
}
@media(max-width: 767px){
    .container{
        width: 600px;
        margin: 0 auto;
    }
    .navbar{
        .container{
            margin-top: 20px;
            align-items: center;
            display: block !important;
            .navbar-brand{
                display: flex;
            }
            .navbar-ul{
                position: absolute;
                right: -100%;
                transition: .3s;
                display: block !important;
                .li{
                    text-align: right;
                    display: block !important;
                    li{
                        padding: 0px 15px;
                        a{
                            position: relative;
                            color: #000;
                            transition: .1s;
                            display: block;
                            padding: 10px 0px;
                            transition: .5s;
                        }
                        a::before {
                            content: '';
                            bottom: 0;
                            left: 0;
                            position: absolute;
                            width: 100%;
                            height: 2px;
                            background-color: #000;
                            transition: 0.2s;
                            transform: scaleX(0);
                          }
                          a:hover:before {
                            transform: scaleX(1);
                          }
                      
                    }
                }
                .btn-nav{
                    width: 30%;
                    height: 20%;
                    background-color: #fff;
                    border: 3px solid black;
                    color: black;
                    transition: .3s;
                    font-size: 15px;
                    text-transform: uppercase;
                    padding: 10px 15px;
                    margin-left: 54%;
                    p{
                        font-weight: 900 !important;
                    }
                }
                .btn-nav:hover{
                    color: #fff;
                    background-color: #000;
                }
                .lang{
                    display: flex;
                    flex-direction: row; 
                    color: #000 !important;
                    cursor: pointer;
                    margin-left: 70% !important;
                    margin-top: 20px;
                    .lang_opt{
                        max-height: 40px !important;
                        padding: 10px 20px;
                        transition: .3s;
                        background-color: rgb(231, 227, 227);
                    }
                    .active{
                        z-index: 1000;
                        width: 80px !important;
                        background-color: rgb(216, 212, 212);
                    }
            }
            }
            .navbar-ul.open-menu{
                right: 0;
            }
    }   
    
    }
}
@media(max-width: 507px){
    .container{
        width: 400px;
        margin: 0 auto;
    }
    .navbar{
        .container{
            margin-top: 20px;
            align-items: center;
            display: block !important;
            .navbar-brand{
                display: flex;
                .navbar-logo{
                    margin-left: -10%;
                }
            }
            .navbar-ul{
                position: absolute;
                right: -100%;
                transition: .3s;
                display: block !important;
                .li{
                    text-align: right;
                    display: block !important;
                    li{
                        padding: 0px 15px;
                        a{
                            position: relative;
                            color: #000;
                            transition: .1s;
                            display: block;
                            padding: 10px 0px;
                            transition: .5s;
                        }
                        a::before {
                            content: '';
                            bottom: 0;
                            left: 0;
                            position: absolute;
                            width: 100%;
                            height: 2px;
                            background-color: #000;
                            transition: 0.2s;
                            transform: scaleX(0);
                          }
                          a:hover:before {
                            transform: scaleX(1);
                          }
                      
                    }
                }
                .btn-nav{
                    width: 30%;
                    height: 20%;
                    background-color: #fff;
                    border: 3px solid black;
                    color: black;
                    transition: .3s;
                    font-size: 15px;
                    text-transform: uppercase;
                    padding: 10px 15px;
                    margin-left: 54%;
                    p{
                        font-weight: 900 !important;
                    }
                }
                .btn-nav:hover{
                    color: #fff;
                    background-color: #000;
                }
                .lang{
                    display: flex;
                    flex-direction: row; 
                    color: #000 !important;
                    cursor: pointer;
                    margin-left: 70% !important;
                    margin-top: 20px;
                    .lang_opt{
                        max-height: 40px !important;
                        padding: 10px 20px;
                        transition: .3s;
                        background-color: rgb(231, 227, 227);
                    }
                    .active{
                        z-index: 1000;
                        width: 80px !important;
                        background-color: rgb(216, 212, 212);
                    }
            }
            }
            .navbar-ul.open-menu{
                right: 0;
            }
    }   
    
    }
}
@media(max-width: 400px){
    .container{
        width: 300px;    
    }
    .navbar{
        .container{
            margin-top: 20px;
            align-items: center;
            display: block !important;
            .navbar-brand{
                display: flex;
                .navbar-logo{
                    margin-left: -10%;
                }
            }
            .navbar-ul{
                .li{
                    text-align: right;
                    display: block !important;
                    li{
                        padding: 0px 15px;
                        a{
                            position: relative;
                            color: #000;
                            transition: .1s;
                            display: block;
                            padding: 10px 0px;
                            transition: .5s;
                        }
                        a::before {
                            content: '';
                            bottom: 0;
                            left: 0;
                            position: absolute;
                            width: 100%;
                            height: 2px;
                            background-color: #000;
                            transition: 0.2s;
                            transform: scaleX(0);
                          }
                          a:hover:before {
                            transform: scaleX(1);
                          }
                      
                    }
                }
                .btn-nav{
                    width: 100px !important;
                    height: 20%;
                    background-color: #fff;
                    border: 3px solid black;
                    color: black;
                    transition: .3s;
                    font-size: 15px;
                    text-transform: uppercase;
                    padding: 10px 15px;
                    margin-left: 54%;
                    p{
                        font-weight: 900 !important;
                    }
                }
                .btn-nav:hover{
                    color: #fff;
                    background-color: #000;
                }
                .lang{
                    display: flex;
                    flex-direction: row; 
                    color: #000 !important;
                    cursor: pointer;
                    margin-left: 50% !important;
                    margin-top: 20px;
                    .lang_opt{
                        max-height: 40px !important;
                        padding: 10px 20px;
                        transition: .3s;
                        background-color: rgb(231, 227, 227);
                    }
                    .active{
                        z-index: 1000;
                        width: 80px !important;
                        background-color: rgb(216, 212, 212);
                    }
            }
            }
            .navbar-ul.open-menu{
                right: 0;
            }
    }   
}
}
@media(max-width: 307px){
    .container{
        width: 200px;
        margin: 0 auto;
    }
    .navbar{
        .container{
            margin-top: 20px;
            align-items: center;
            display: block !important;
            .navbar-brand{
                display: flex;
                .navbar-logo{
                    margin-left: -10%;
                }
            }
            .navbar-ul{
                position: absolute;
                right: -100%;
                transition: .3s;
                display: block !important;
                .li{
                    display: block !important;
                    li{
                        a{
                            position: relative;
                            color: #000;
                            transition: .1s;
                            display: block;
                            padding: 10px 0px;
                            transition: .5s;
                        }
                        a::before {
                            content: '';
                            bottom: 0;
                            left: 0;
                            position: absolute;
                            width: 100%;
                            height: 2px;
                            background-color: #000;
                            transition: 0.2s;
                            transform: scaleX(0);
                          }
                          a:hover:before {
                            transform: scaleX(1);
                          }
                      
                    }
                }
                
            }
    }   
}
}